<div class="container-fluid">
  <div class="row toolbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- <mat-icon class="icon">{{ icon }}</mat-icon> -->
        <img
          height="80"
          src="../assets/up-and-down-decolorada.png"
          alt="Download and upload"
          style="margin-top: auto; margin-bottom: auto; margin-right: 15px;"
        />
        <span> {{ title }} </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row content">
    <!-- My file upload section -->
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-icon mat-card-avatar class="icon">{{ uploadIcon }}</mat-icon>
          <mat-card-title>
            Upload section
          </mat-card-title>
          <mat-card-subtitle>
            Select files to be uploaded
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-md-12 ">
              <!-- Dont show the original input, but use a material design btn
                to do click event of this input -->
              <input
                #uploadFileID
                style="display: none;"
                type="file"
                name="fileUplaod"
                id="fileUpload"
                multiple
                ng2FileSelect
                [uploader]="uploader"
              />
              <span>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="uploadFileID.click()"
                >
                  <mat-icon>
                    add
                  </mat-icon>
                  SELECT FILES
                </button>
              </span>
              <!-- [uploader]="uploader" imports FileSelectDirective in app.module -->
            </div>
            <br />
          </div>
          <div
            class="row align-items-center"
            *ngFor="let item of uploader.queue"
          >
            <div class="col-md-4">
              <h4>{{ item.file.name }}</h4>
            </div>
            <div class="col-md-4">
              <mat-progress-bar
                color="primary"
                mode="determinate"
                style="height: 20px;"
                [value]="item.progress"
              >
              </mat-progress-bar>
            </div>
            <div class="col-md-4">
              <button
                mat-stroked-button
                color="primary"
                (click)="item.upload()"
              >
                Upload
              </button>
              <button mat-icon-button color="warn" (click)="item.remove()">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="uploader?.queue?.length > 0">
          <button mat-button color="primary" (click)="uploader.uploadAll()">
            UPLOAD ALL
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <br />
    <br />
    <!-- My file dowload section -->
    <div class="col-md-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-icon mat-card-avatar class="icon">{{ downloadIcon }}</mat-icon>
          <mat-card-title>Download section</mat-card-title>
          <mat-card-subtitle>
            <div *ngIf="attachmentList.length > 0">
              Feel free to download everything
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div
            class="row align-items-center"
            style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;"
            *ngFor="let item of attachmentList; let i = index"
          >
            <div class="col-sm-9">{{ item.originalname }}</div>
            <div class="col-sm-3" style="text-align:center;">
              <button mat-icon-button color="primary" (click)="download(i)">
                <mat-icon>file_download</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
